#spring initializr
mvnw
mvnw.cmd

#maven
target/

#idea folders
.idea
*.iml

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# mac os specific files
.DS_Store
